{% if isShowAverages %}
    <div class="scoreboard">
        <div data-control="toolbar">
            <div class="scoreboard-item">
                <canvas id="averages1" width="500" height="500"></canvas>
            </div>
            <div class="scoreboard-item">
                <canvas id="averages2" width="500" height="500"></canvas>
            </div>
            <div class="scoreboard-item">
                <canvas id="averages3" width="500" height="500"></canvas>
            </div>
        </div>
    </div>
{% endif %}
<canvas id="fullCorrelation" width="500" height="500"></canvas>
<script>
    new Chart(document.getElementById("fullCorrelation"), {
        type: 'radar',
        data: {
            labels: [
                {% for item in conditions %}
                    '{{ item.name }}'{% if not loop.last %},{% endif %}
                {% endfor %}
            ],
            datasets: [
                {% for item in groups %}
                {
                    label: '{{ item.name }}',
                    data: [
                        {% for counter in item.count %}
                            {{ counter }}{% if not loop.last %},{% endif %}
                        {% endfor %}
                    ],
                    fill: true,
                    backgroundColor: 'rgba({{ item.color.r }}, {{ item.color.g }}, {{ item.color.b }}, 0.2)',
                    borderColor: 'rgb({{ item.color.r }}, {{ item.color.g }}, {{ item.color.b }})',
                    pointBackgroundColor: 'rgb({{ item.color.r }}, {{ item.color.g }}, {{ item.color.b }})',
                    pointBorderColor: '#fff',
                    pointHoverBackgroundColor: '#fff',
                    pointHoverBorderColor: 'rgb({{ item.color.r }}, {{ item.color.g }}, {{ item.color.b }})'
                }{% if not loop.last %},{% endif %}
                {% endfor %}

            ]
        },
        options: {
            elements: {
                line: {
                    borderWidth: 3
                }
            }
        },
    });
    {% if isShowAverages %}
        {% for item in averageTitles %}
            {% set q = loop.index0 %}
            new Chart(document.getElementById("averages{{ loop.index }}"), {
                type: 'bar',
                data: {
                    labels: [

                            '{{ item }}'

                    ],
                    datasets: [
                        {% for item in averages %}
                            {
                                label: '{{ item.name }}',
                                data: [{{ item.count[q] }}],
                                borderColor: 'rgb({{ item.color.r }}, {{ item.color.g }}, {{ item.color.b }})',
                                backgroundColor: 'rgba({{ item.color.r }}, {{ item.color.g }}, {{ item.color.b }}, 0.5)',
                            }{% if not loop.last %},{% endif %}
                        {% endfor %}
                    ]
                },
                options: {
                    responsive: true,
                    plugins: {
                        legend: {
                            position: 'top',
                        },
                        title: {
                            display: true,
                            text: 'Средние значения по группам'
                        }
                    }
                },

            });
        {% endfor %}
    {% endif %}
</script>
