{% if isShowAverages %}
    <canvas id="averages" width="500" height="100"></canvas>
{% endif %}
<canvas id="fullCorrelation" width="500" height="500"></canvas>
<script>
    new Chart(document.getElementById("fullCorrelation"), {
        type: 'radar',
        data: {
            labels: [
                {% for item in conditions %}
                    '{{ item.name }}'{% if not loop.last %},{% endif %}
                {% endfor %}
            ],
            datasets: [
                {% for item in groups %}
                {
                    label: '{{ item.name }}',
                    data: [
                        {% for counter in item.count %}
                            {{ counter }}{% if not loop.last %},{% endif %}
                        {% endfor %}
                    ],
                    fill: true,
                    backgroundColor: 'rgba({{ item.color.r }}, {{ item.color.g }}, {{ item.color.b }}, 0.2)',
                    borderColor: 'rgb({{ item.color.r }}, {{ item.color.g }}, {{ item.color.b }})',
                    pointBackgroundColor: 'rgb({{ item.color.r }}, {{ item.color.g }}, {{ item.color.b }})',
                    pointBorderColor: '#fff',
                    pointHoverBackgroundColor: '#fff',
                    pointHoverBorderColor: 'rgb({{ item.color.r }}, {{ item.color.g }}, {{ item.color.b }})'
                }{% if not loop.last %},{% endif %}
                {% endfor %}

            ]
        },
        options: {
            elements: {
                line: {
                    borderWidth: 3
                }
            }
        },
    });
    {% if isShowAverages %}
        new Chart(document.getElementById("averages"), {
            type: 'bar',
            data: {
                labels: [
                    {% for item in averageTitles %}
                        '{{ item }}'{% if not loop.last %},{% endif %}
                    {% endfor %}
                ],
                datasets: [
                    {% for item in averages %}
                        {
                            label: '{{ item.name }}',
                            data: [{% for item in item.count %}'{{ item }}'{% if not loop.last %},{% endif %}{% endfor %}],
                            borderColor: 'rgb({{ item.color.r }}, {{ item.color.g }}, {{ item.color.b }})',
                            backgroundColor: 'rgba({{ item.color.r }}, {{ item.color.g }}, {{ item.color.b }}, 0.5)',
                        }{% if not loop.last %},{% endif %}
                    {% endfor %}
                ]
            },
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        position: 'top',
                    },
                    title: {
                        display: true,
                        text: 'Средние значения по группам'
                    }
                }
            },

        });
    {% endif %}
</script>
